.center {
    position: relative;
    left: 80px;
    top: 0;
    width: calc(100% - 80px);
    bottom: 0;
    right: 0;
}

.appbar {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    color: #696969;
    height: 80px;
    z-index: 2;
    background-color: white;
}

.appbar .title {
    font-size: 24px;
    font-weight: lighter;
}

.appbar form {
    width: 400px;
    margin-right: 4rem;
}

.appbar .notification {
    font-size: 20px;
}

.appbar hr {
    height: 15px;
    margin-right: 20px;
    width: 2px;
    border-radius: 10px;
    background-color: #858585;
}

.appbar .username {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.appbar .more {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.section {
    position: relative;
    /*top: 80px;*/
    /*left: 80px;*/
    /*z-index: 1;*/
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #F0F0F7;
}

.abs {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
}
