.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
}

.wrapper > main {
    position: relative;
    min-height: 100%;
    max-width: 100vw;
}

.wrapper .appbar {
    width: 100%;
    height: 80px;
}

.wrapper .appbar-content {
    top: 0;
    z-index: 1;
    height: 80px;
    left: 80px;
    right: 0;
    color: #696969;
}

.wrapper .appbar .title {
    font-size: 24px;
    font-weight: lighter;
}

.wrapper .appbar .notification {
    font-size: 20px;
}

.wrapper .appbar hr {
    height: 15px;
    margin-right: 20px;
    width: 2px;
    border-radius: 10px;
    background-color: #858585;
}

.wrapper .appbar .username {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.wrapper .appbar .more {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.wrapper > main > .section {
    max-height: calc(100% - 80px);
    position: relative;
    /*z-index: 0;*/
    right: 0;
    bottom: 0;
    height: 100% !important;
    background-color: #F0F0F7;
    transition: 0.2s ease;
}

@media screen and (max-width: 768px) {
    .wrapper .appbar-content {
        left: 0;
    }

    .wrapper > main > .section {
        width: 100%;
    }
}
